doctype html
html
	head
		title Margikarp
		link(rel="stylesheet", type="text/css", href="/static/css/material.min.css")
		link(rel="stylesheet", type="text/css", href="/static/css/margikarp.css")
	body
		script(type="text/javascript", src="/static/js/material.min.js")
		script(type="text/javascript", src="/static/js/angular.min.js")
		script(type="text/javascript", src="/static/js/angular-route.min.js")
		script(type="text/javascript", src="/static/js/margikarp.js")