.mdl-grid.subhead
  .mdl-cell.mdl-cell--3-col
    b Select SAM
  .mdl-cell.mdl-cell--6-col
    button.mdl-button.mdl-js-button.mdl-js-ripple-effect(data-ng-repeat="sam in available_sams", data-ng-click="load_sam(sam)", data-ng-bind="sam")
  .mdl-cell.mdl-cell--3-col @TODO: Change this to search bar or dropdown
.mdl-grid
  #map